<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I'm not even gay. I'm bi. But the domain name was available.">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/deeryeen.css')}}">
    <title>deeryeen.gay</title>
</head>
<body>
    <div class="content">
        <div class="title-container">
            <h1>
                <i>
                    deeryeen.gay
                </i>
            </h1>
            <h3>
                Derg pressured me to buy this.
            </h3>
            <p>This is costing me $15/year.</p>
            <div class="links">
                <a href="https://twitter.com/deeryeen" target="newtab" class="twitter">Twitter</a>
                <a href="https://t.me/deeryeen" target="newtab" class="telegram">Telegram</a>
            </div>
        </div>
    </div>
    
</body>
</html>